[submodule "ZoKrates"]
	path = systems/zokrates/source
	url = https://github.com/Zokrates/ZoKrates.git
[submodule "libsnark"]
	path = systems/libsnark/source
	url = https://github.com/mkobelt/libsnark
